/* .ql-toolbar {
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 4px 4px 0 0;
}

.ql-container {
  border: 1px solid rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  padding: 2px;
  background-color: #f9f9f9;
  min-height: 150px;
  font-family: inherit;
} */

.ql-toolbar {
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 8px 8px 0 0;
}

.ql-container {
    border: 1px solid rgba(0, 0, 0, 0.23);
    border-radius: 0 0 8px 8px;
    padding: 2px;
    background-color: #f9f9f9;
    min-height: 150px;
    font-family: inherit;
    color: #000;
}

.dark .ql-toolbar {
    background-color: #1C252E;
    border: 1px solid #2A2F36;
}

.dark .ql-container {
    background-color: #1C252E;
    border: 1px solid #2A2F36;
    color: #ffffff;
}

/* Optional: style dropdowns, buttons, icons */
.dark .ql-toolbar .ql-picker-label,
.dark .ql-toolbar .ql-picker-item,
.dark .ql-toolbar .ql-stroke {
    color: #ffffff !important;
    stroke: #ffffff !important;
}

.dark .ql-toolbar .ql-fill {
    fill: #ffffff !important;
}


.ql-editor.ql-blank::before {
    color: #999999; 
}
  
.dark .ql-editor.ql-blank::before {
    color: #aaaaaa; 
}
  
/* Dark mode: Quill dropdown options */
.dark .ql-toolbar .ql-picker-options {
    background-color: rgba(20, 26, 33); /* dark background */
    color: #ffffff;            /* white text */
    border: 1px solid #2A2F36;
}
  
  /* Optional: style hovered option */
.dark .ql-toolbar .ql-picker-item:hover {
    background-color: #2A2F36;
}
  
.ql-toolbar .ql-picker-options {
    background-color: #ffffff;
    color: #000000;
}
