/* Variables */
.one_core {
  --tw-sidebar-transition-duration: 0.3s;
  --tw-sidebar-transition-timing: ease;
  --tw-sidebar-width: 280px;
  --tw-sidebar-default-width: 280px;
  --tw-header-height: 70px;
}

@media (max-width: 1024px) {
  .one_core {
    --tw-sidebar-width: 280px;
    --tw-header-height: 60px;
  }
}

/* Base */
.one_core .header {
  height: var(--tw-header-height);
}

.one_core .sidebar {
  width: var(--tw-sidebar-width);
}

.one_core.header-fixed .wrapper {
  padding-top: var(--tw-header-height);
}

/* Desktop mode */
@media (min-width: theme("screens.lg")) {
  .one_core .sidebar {
    width: var(--tw-sidebar-width);
    transition: width var(--tw-sidebar-transition-duration)
      var(--tw-sidebar-transition-timing);
  }

  .one_core .sidebar .sidebar-header {
    height: var(--tw-header-height);
  }

  .one_core .sidebar .sidebar-wrapper {
    width: var(--tw-sidebar-default-width);
  }

  .one_core .sidebar .sidebar-logo {
    width: var(--tw-sidebar-default-width);
  }

  .one_core .sidebar .small-logo {
    display: none;
  }

  .one_core.sidebar-fixed .wrapper {
    padding-inline-start: var(--tw-sidebar-width);
  }

  .one_core.sidebar-fixed.header-fixed .header {
    inset-inline-start: var(--tw-sidebar-width);
  }

  .one_core.sidebar-fixed.header-fixed .wrapper {
    padding-top: var(--tw-header-height);
  }

  .one_core.sidebar-collapse {
    --tw-sidebar-width: 80px;
  }

  .one_core.sidebar-collapse .sidebar {
    transition: width var(--tw-sidebar-transition-duration)
      var(--tw-sidebar-transition-timing);
  }

  .one_core.sidebar-collapse .sidebar.animating {
    pointer-events: none;
  }

  /* Force hidden text/UI when collapsed */
  .one_core.sidebar-collapse .default-logo,
  .one_core.sidebar-collapse .menu > .menu-item > .menu-link .menu-title,
  .one_core.sidebar-collapse .menu > .menu-item > .menu-link .menu-arrow,
  .one_core.sidebar-collapse .menu > .menu-item > .menu-link .menu-badge,
  .one_core.sidebar-collapse .menu > .menu-item > .menu-label .menu-title,
  .one_core.sidebar-collapse .menu > .menu-item > .menu-label .menu-arrow,
  .one_core.sidebar-collapse .menu > .menu-item > .menu-label .menu-badge,
  .one_core.sidebar-collapse .menu > .menu-item > .menu-accordion {
    display: none;
  }

  .one_core.sidebar-collapse .menu > .menu-item > .menu-heading {
    visibility: hidden;
    position: relative;
  }

  .one_core.sidebar-collapse .menu > .menu-item > .menu-heading::before {
    content: "...";
    color: currentColor;
    font-size: inherit;
    position: absolute;
    visibility: visible;
    display: inline-block;
    bottom: 50%;
    inset-inline-start: 0;
    margin-inline-start: 0.225rem;
    transform: translateX(100%);
  }

  .one_core.sidebar-collapse .sidebar .sidebar-content {
    overflow: hidden;
  }
}

.one_core.layout-initialized .wrapper {
  transition: padding-inline-start var(--tw-sidebar-transition-duration)
    var(--tw-sidebar-transition-timing);
}

.one_core.layout-initialized .header {
  transition: inset-inline-start var(--tw-sidebar-transition-duration)
    var(--tw-sidebar-transition-timing);
}
